@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap');


*{
    box-sizing: border-box;
}


html, body{
   color: #191919;
   font-family: 'Inter', sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.5;

 
  
   
}

.btn-theme {
    background-color: #f9d783;
    border: 1px solid #f9d783;
    color: #191919;
    text-decoration: none;
    padding: 12px 26px;
    font-weight: 600;
    border-radius: 30px;

    i{
        margin-left: 8px;
        padding-bottom: 15px;
        font-size: 9px;
        font-weight: bolder;
    }
    &:hover{
        background-color: #191919;
        color: whitesmoke;
    }

}

// header


header{
    background-color:#F0EFE9;
    padding: 16px; 

  

    .container{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto;
        grid-template-areas: "logo bars";
                                
        
        @media(min-width:992px){
            grid-template-columns: auto 1fr auto;
            grid-template-areas: "logo cb social"
                                 "logo menu menu";
        }

    .btn-menubars  {
        grid-area: bars;
        border: none;
        font-size: 25px;
        background-color: transparent;

        @media(min-width: 992px){
            display: none;
        }
    }                     
    .logotype{
        grid-area: logo;
        margin-right: 70px;
     
    }
    .contact-bar{
        grid-area: cb;
        display: none;
        justify-content: flex-start;
        align-items: center;
     
        padding-bottom: 10px;
        
        
        @media(min-width: 1200px){
            display: flex;
        }
        .contact-box{
                       
            padding-right: 30px;
            margin-right: 30px;
            border-right: 1px solid #dad9d3;
            font-family: 'Inter', sans-serif;
            font-size: 15px;
            font-weight: 300;

            i{
                margin-right: 5px;
                
            }

            &.last{
                border: none;
            }

       }

    }
    .social-media{
        grid-area: social;
        display: none;
       
      
        
        a{
            color: #191919;
            font-size: 1.3rem;
            margin-left: 10px;
            text-decoration: none;
            &:hover {
                color: #666;
            }
        }
        @media(min-width: 992px){
            display: block;
            
        }
    }
    .mainmenu{
        grid-area: menu;
        display: none;
        border-top: 1px solid #DAD9D3;
        margin-top: 10px;
        padding-top: 10px;
        
        @media(min-width: 992px){
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        nav {
            a{
                display: inline-block;
                color: #191919;
                text-decoration: none;
                margin-right: 35px;
                position: relative;

                &.home-bold{
                    font-weight: 500;
                }

                &.home-bold::after,
                &:hover::after{
                    content: '';
                    position: absolute;
                    font-weight:500;
                    height: 2px;
                    width: 15px;
                    background-color: #191919;
                    left: 35%;/* det kan vara 50% med transform:translate annars med 35% funkar på samma sätt*/
                    bottom: -3px;
                   /* transform: translate((calc(50% - 15px)));*/
                }
               
            }
           

        }
        .login{
            padding-top: 12px;
            padding-bottom: 12px;
        }
        

    }
    

    }
}
    // subheader

    .subheader{
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        background-color:#F0EFE9;
        padding: 16px; 
        padding-top: 100px;
        padding-bottom: 90px;

        a{
            text-decoration: none;
            color: #191919;
            padding-bottom: 10px;
            margin: 5px;
        }
        h2{
            font-size: 56px;
            font-weight: 700;
        }

    }
    .line{
        display: none;
        top: 75px;
        left:0;

        @media(min-width: 1200px){
            display: flex;
            position:absolute;
        }
    }
    



// Main

.container-section {
    display:flex;
    flex-direction: column;


    .container {
        display: block;
        justify-content:center;
        align-items: center;
        gap: 10px;
        padding-top: 60px;
        padding-bottom: 30px;
       
       
        @media (min-width:1100px) {
            display: flex;
            justify-content: center;
            padding-top: 120px;
            padding-bottom: 60px;
            gap: 30px;
            
        }
    
        
        .box1{
            display:block;
            justify-content: center;
            gap: 30px;
            text-align: center;
            border: 1px solid #e8e8e8;
            margin-bottom: 30px;
            padding-top: 20px;
    
            @media (min-width:992px) {
                display: block;
                justify-content: center;
                gap: 10px;
                width: 100%;
                height: auto;
                padding: 28px 50px;
            
            }
    
            @media (min-width:1400px) {
                display:block;
                justify-content: center;
                width: 100%;
                height: auto;
                padding: 50px 60px;
            
            }
    
            img{
                float: none;           
                margin-bottom: 20px;
    
                @media (min-width:1200px) {
                    float: left;
                    margin-right: 30px;
                    margin-bottom: 45px;
                }
            }
            h2{
                font-size: 22px;
                font-weight: bold;
                text-align: center;
                @media (min-width:1200px) {
                    text-align: left;
                    
                }
            }
            a{ 
                text-align: center;
                font-size: 18px;
                text-decoration: none;
                color: #d1d1d1;
                @media (min-width:720px) {
                    text-align: center;
                    
                }
    
                @media (min-width:1200px) {
                    text-align: left;
                    
                }
                p{
                    color: #191919;
                    font-family: 'Inter', sans-serif;
                    font-size: 18px;
                    font-weight: 400;
    
                }
    
            }
    
            &:hover{
                background-color: #f9d783;
                 p{
                    color: black;
                 }
    
            }
           
            
        }
    }

            form {   
                width: 100%;
                height: auto;
                margin-bottom: 20px;
                margin-top: 30px;
                background-color: #F0EFE9;
              
                

                @media(min-width: 992px){
                    margin-bottom: 110px;
                    
                    padding: 140px 145px 90px 150px;
                  }
            
            
            }
            
            ul {
                list-style: none;
                padding: 40px ;
                margin: 0px;

                h3{
                    font-size: 45px;
                    font-weight: 700;
                    font-family: 'DM Sans', sans-serif;
                    text-align: center;
                }
            }
            
            form li + li {
                margin-top: 1rem;
               

                

            }
            .btn-theme{
                    padding: 12px 17px;
                    margin-top: 40px;
                    text-align: center;

                        @media (min-width:1200px) {
                            padding: 12px 170px;
                            
                        
                           
                            
                        }

                    }            

            input,
            textarea {       
            
                font-family: 'DM Sans', sans-serif;
                width: 100%;
                box-sizing: border-box;
                background-color: white;
                border: none;
                padding: 25px;
                border-radius: 30px;
            }
            .textarea {
                padding-bottom: 10em;
            }
            .text {
                  padding: 25px;
                  @media(min-width: 992px){
                    padding: 10px;
                  }
            }
            .email{
                padding:25px;
                @media(min-width: 992px){
                    padding: 10px;
                  }
            }
           
     
   
}




// footer

.footer{
        background-color: #191919;
        position: relative;
            .container{
               display:grid;
               grid-template-columns: repeat(2, 1fr);
               column-gap: 20px;
               padding-left: 30px;
               
              

               @media(min-width:992px){
                   grid-template-columns: repeat(5, 1fr);
                   justify-content: space-between;
                   column-gap: 60px;
                   padding-top: 100px;
                   padding-bottom: 90px;
                  

               }


               .link-1{
               
                
                p{
                    margin-top: 25px;
                    color: #b6b6bc;
                }                
                
               }
               .link-2{
               
                h4{
                    color: white;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    text-align: left;
                }
                p{
                    color: #b6b6bc;
                    text-align: left;

                }

                ul {
                    list-style: none;
                    padding: 0px;
                   
                    a{
                        color:  #b6b6bc;
                        text-decoration: none;
                    }
                }
                 
                  
               }
               .link-3{
               

                h4{
                    color: white;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    text-align: left;
                }
                p{
                    color: #b6b6bc;
                    text-align: left;

                }

                ul {
                    list-style: none;
                    padding: 0px;
                   
                    a{
                        color:  #b6b6bc;
                        text-decoration: none;
                    }
                }
                 
                  
                 
               }
               .link-4{
                
                h4{
                    color: white;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    text-align: left;
                  }
                  p{
                    color: #b6b6bc;
                    text-align: left;

                }

                ul {
                    list-style: none;
                    padding: 0px;
                   
                    a{
                        color:  #b6b6bc;
                        text-decoration: none;
                    }
                }
                 
              
                }
                .link-5{
               

                h4{
                     color: white;
                     padding-top: 20px;
                     padding-bottom: 20px;
                     text-align: left;
                  }
                  p{
                    color: #b6b6bc;
                    text-align: left;

                }

                ul {
                    list-style: none;
                    padding: 0px;
                   
                    a{
                        color:  #b6b6bc;
                        text-decoration: none;
                    }
                }
                     
                }
        
            }

            .line-footer{
                display: none;
                position: absolute;
                bottom: 60px;
                right: 0;
                @media (min-width:992px) {
                    display: flex;
                }
    
    
            }



            hr{
                color: #707070;
            }
            .subfoot{
                display:flex;
                justify-content: space-between;
                color: white;
                padding: 10;
                @media(min-width:992px){
                    display:flex;
                    justify-content: space-between;
                    padding: 0px;
                }

               
                .foot-socialmedia{
                    display: none;             

                    @media(min-width:992px){
                        display: flex;
                        justify-content: start;
                    }
                }

                a{
                   
                    color:white;
                    padding: 10px;
                    text-decoration: none;
                }
            }

 }



   



    
